*{
    font-family: 'Alkatra', cursive;
}
p{
    text-align: center;
}
.container{
    width:400px;
    height: 60px;
    background-color:#fb86d7;
    margin: auto;
    padding: 30px ;
    display: flex;
    justify-content: space-around;
    gap:10px;
    margin-bottom:50px ;
}

.btn{
    
    width:100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-right: 20px;
}
.btn:hover{
    cursor: pointer;
}
.merg{
    width:600px;
    height:300px;
    background-color: black;
 margin: auto;
 display: flex;
 justify-content: space-around;
 gap:10px;
}
#one,#two,#three,#four,#five,#six{
    background-color:#fb869d ;
    width:30px;
    text-align: center;
    padding-top:10px;
}
#one{
    height: 50px;
    
}
#two{
    height:120px;

}
#three{
    height: 150px;
    
}
#four{
    height:200px;
   
}
#five{
    height:220px;
   
}
#six{
    height: 260px;
   
}
