* {
    font-family: 'Alkatra', cursive;;
     color:black;
}


.main {
    height: 500px;
    width: 90%;
    margin: auto;
}

.title {
    font-size: 50px;
    margin: 10px;
    color:black;
    text-align: center;
}

.buttons {
 
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: groove 1px;
    border-radius: 20px;
    background-color:
    #f392cd;
    margin-bottom: 40px;
    font-size: 20px;
}

.button {
    width:150px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
}

.visual {
    margin: auto;
    width: 95%;
    height: 210px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: groove 1px;
    border-color:black ;
    border-radius: 20px;
    align-items: flex-end;
}

.Algo,
.speed {
    border-radius: 20px;
    width: 80px;
    font-size: 20px;
    background-color:white;
    width:150px;
    border: none;
    height: 40px;
}

.bar {
    margin: 0.5px;
    text-align: center;
    height: 200px;
    width: 50px;
    color: white;
    padding-bottom: 10px;
    background-color:	#f3929d ;
}

.output {
    margin-right: 20px;
}

.bar h6 {
    text-align: center;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
